.mainSection {
  height: 110vh;
  margin: 0;
  display: flex;
  justify-content: center;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); */
}

.mainSection__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.mainSection__container h2,
.mainSection__container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--colour-red);
  margin: 0;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.mainSection__container h2 {
  font-size: 4rem;
}

.mainSection__container h1 {
  font-size: 4rem;
}

.mainSection__container__loading {
  position: relative;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection__container p {
  font-size: 1rem;
  color: var(--colour-darkGray);
  margin-top: 2rem;
  font-weight: 500;
  text-align: center;
}

.mainSection__container p::before {
  position: absolute;
  top: 3.8rem;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--colour-red);
  border-radius: 0.5rem;
  display: block;
  margin-top: 0.9rem;
}

.mainSection__container p::after {
  position: absolute;
  top: 3.8rem;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5rem;
  background: rgb(199, 58, 7);
  background: linear-gradient(
    324deg,
    rgba(199, 58, 7, 1) 48%,
    rgba(215, 97, 54, 1) 100%
  );
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: block;
  margin-top: 0.9rem;
  animation: loading 20s ease infinite;
  opacity: 0.7;
}

@keyframes loading {
  from {
    width: 20vw;
  }
  to {
    width: 45vw;
  }
}

.mainSection__container strong {
  color: var(--colour-red);
}

.mainSection__container__loading button {
  position: relative;
  border: 2px solid var(--colour-red);
  background-color: transparent;
  border-radius: 3rem;
  width: 13rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--colour-darkGray);
  cursor: pointer;
  margin-top: 4rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.mainSection__container__loading button:hover {
  color: var(--colour-beige);
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  cursor: pointer;
}

.mainSection__container__loading button::after {
  position: absolute;
  top: -900%;
  left: -150%;
  content: "";
  width: 200%;
  height: 900%;
  background-color: var(--colour-red);
  display: block;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.mainSection__container__loading button:hover::after {
  transform: translate(50%, 50%) rotate(-45deg);
  cursor: pointer;
}

.custom-shape-divider-bottom-1729844857 {
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1729844857 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 88px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1729844857 .shape-fill {
  fill: var(--colour-red);
}

/* Responsive Media Query */
@media (max-width: 1024px) {
  .mainSection__container h2 {
    font-size: 3.4rem;
  }

  .mainSection__container h1 {
    font-size: 3.4rem;
  }

  .mainSection__container p {
    font-size: .9rem;
  }

  .mainSection__container p::before {
    margin-top: 0.4rem;
  }

  .mainSection__container p::after {
    margin-top: 0.4rem;
  }
}

@media (max-width: 768px) {
  .mainSection__container h2 {
    font-size: 2.6rem;
  }

  .mainSection__container h1 {
    font-size: 2.6rem;
  }

  .mainSection__container__loading {
    width: 70vw;
  }

  .mainSection__container p::before {
    left: 10%;
    width: 80%;
  }
  
  .mainSection__container p::after {
    left: 10%;
    width: 80%;
  }
}
