.words-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 200vh; */
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.word-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
}

.word {
  font-size: 1rem;
  white-space: nowrap;
}

.fade {
  opacity: 0; /* 투명도 0으로 설정 */
  transition: opacity 0.5s ease; /* 부드러운 전환 효과 */
}

.mainSection {
  background-color: var(--colour-white);
  box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
  margin: 950px 30px;
  height: 65vh;
  z-index: 1;
  border-radius: 10px;
  border: 30px solid transparent;
  border-image: repeating-linear-gradient(
      45deg,
      var(--colour-white),
      var(--colour-white) 10px,
      var(--colour-accent) 10px,
      var(--colour-accent) 35px
    )
    45;
  outline: 3px solid var(--colour-white);
  outline-offset: -25px;
}

.mainSection__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin: 0 50px;
}

.mainSection__container_left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 50px 0;
  margin-left: 50px;
}

.mainSection__container_left h1,
.mainSection__container_left h3 {
  margin: 0;
}

.mainSection__container_left h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 7px;
  color: var(--colour-gray);
}

.mainSection__container_left h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--colour-accent);
  -webkit-text-stroke: 0.5px var(--colour-black);
  text-shadow: 1px 1px 0 var(--colour-gray), 2px 2px 0 var(--colour-gray),
    3px 3px 0 var(--colour-gray), 4px 4px 0 var(--colour-gray),
    5px 5px 0 var(--colour-gray), 6px 6px 0 var(--colour-gray),
    7px 7px 0 var(--colour-gray), 8px 8px 0 var(--colour-gray);
  /* 9px 9px 0 var(--colour-gray), 10px 10px 0 var(--colour-gray); */
  /* 1px 15px 10px rgba(124, 124, 124, 0.2),
    1px 20px 20px rgba(124, 124, 124, 0.2),
    1px 25px 40px rgba(124, 124, 124, 0.2),
    1px 30px 80px rgba(124, 124, 124, 0.2); */
  margin-bottom: 20px;
}

.mainSection__container_left h1::before {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--colour-lightGray);
  margin-bottom: 15px;
}

.mainSection__container_left h1::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--colour-lightGray);
  margin-top: 30px;
}

.mainSection__container_right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainSection__container_right img {
  position: absolute;
  min-height: 80%;
  max-height: 100%;
  width: auto;
  animation: slide 1s ease-out forwards;
  top: 50%;
  left: 50%;
}

.mainSection__container_right h1 {
  position: absolute;
  z-index: 15;
  top: 52%;
  right: 20%;
  animation: slide 1s ease-out forwards;
  font-size: 50px;
  font-weight: 900;
  color: var(--colour-accent);
}

.mainSection__container_right p {
  position: absolute;
  z-index: 10;
  top: 65%;
  right: -15%;
  animation: slide 1s ease-out forwards;
  background-color: var(--colour-accent);
  font-size: 25px;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 5px;
}

@keyframes slide {
  from {
    transform: translate(100%, -65%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -77%);
    opacity: 1;
  }
}

.emptyBox {
  height: 2000px;
}
