.mainSection{
    background-color: var(--colour-white);
    margin: 120px 20px;
    height: 60vh;
    z-index: 1;
}

.mainSection__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.mainSection__container_left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 50px;
}

.mainSection__container_right {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainSection__container_right img{
    position: absolute;
    max-height: 100%;
    width: auto;
    animation: slide 1s ease-out forwards;
    top: 50%; 
    left: 50%; 
    transform: translate(-65%, -65%); 
}

@keyframes slide {
    from {
        transform: translate(100%, -65%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -65%);
        opacity: 1; 
    }
}