.homeSection {
  background-color: var(--colour-beige);
}

.popup-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colour-black);
  color: var(--colour-accent);
  padding: 0.5rem 2rem;
  font-size: 2rem;
  z-index: 10;
}

.words-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 200vh; */
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--colour-dardGray);
}

.word-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
}

.word {
  font-size: 1rem;
  white-space: nowrap;
}

.fade {
  opacity: 0; /* 투명도 0으로 설정 */
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

.red {
  color: var(--colour-red);
  font-weight: 700;
}

.black {
  background-color: var(--colour-red);
  transition: background-color 0.8s ease-in-out;
}

.btn-container {
  position: absolute;
  top: 820px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container__logo {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-container__mainLogoImg {
  height: 23vh;
  animation: float 3s ease-in-out infinite;
}

.btn-container__btn{
  position: relative;
  border: 1px solid var(--colour-beige);
  border-radius: 3rem;
  background-color: transparent;
  margin-top: 1.5rem;
  padding: 1rem 0;
  width: 15rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--colour-beige);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all .5s ease-out;
}

.btn-container__btn::after {
  content: "";
  position: absolute; /* 절대 위치 설정 */
  top: 0; /* 컨테이너의 최상단 */
  left: 0; /* 컨테이너의 최좌측 */
  height: 700%; /* 버튼 높이에 맞춰 */
  width: 200%; /* 버튼 너비에 맞춰 */
  background-color: var(--colour-beige); /* 배경색 설정 */
  transform: translate(-100%, -100%) rotate(45deg); /* 대각선으로 위치 조정 */
  transition: transform .5s ease-out; /* 애니메이션 효과 */
  z-index: -1; /* 버튼 아래에 위치 */
}

.btn-container__btn:hover::after {
  transform: translate(-20%, -20%) rotate(45deg); /* 호버 시 버튼 안쪽으로 이동 */
}

.btn-container__btn:hover{
  border: var(--colour-beige);
  color: var(--colour-dardGray);
}

.btn-container__mainLogo:hover + .btn-container {
  opacity: 1;
}
