.homeSection {
  background-color: var(--colour-beige);
}

.popup-message {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colour-red);
  color: var(--colour-beige);
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  z-index: 10;
  border-radius: 3rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
}

.words-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 200vh; */
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--colour-dardGray);
}

.word-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
}

.word {
  font-size: 1rem;
  white-space: nowrap;
}

.fade-to-partial {
  opacity: 0.2;
  transition: opacity 0.3s ease; 
}

.fade-to-zero {
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.red {
  color: var(--colour-red);
  font-weight: 700;
}

.bg-red {
  background-color: var(--colour-red);
  transition: background-color 0.8s ease-in-out;
}

.btn-container {
  position: absolute;
  top: 820px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container__logo {
  border: none;
  background-color: transparent;
}

.btn-container__mainLogoImg {
  height: 23vh;
  animation: float 3s ease-in-out infinite;
  opacity: 1;
}

.btn-container__btn{
  position: relative;
  border: 1px solid var(--colour-beige);
  border-radius: 3rem;
  background-color: transparent;
  margin-top: 1.5rem;
  padding: 1rem 0;
  width: 15rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--colour-beige);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease-out;
}

.btn-container__btn::after {
  content: "";
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 700%;
  width: 200%;
  background-color: var(--colour-beige);
  transform: translate(-100%, -100%) rotate(45deg); 
  transition: transform .5s ease-out; 
  z-index: -1;
}

.btn-container__btn:hover::after {
  transform: translate(-20%, -20%) rotate(45deg); 
}

.btn-container__btn:hover{
  border: var(--colour-beige);
  color: var(--colour-dardGray);
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
}

.copyright{
  position: absolute;
  bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  font-size: .9rem;
  color: var(--colour-beige);
}