.contactSection {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  background-color: var(--colour-beige);
}

.contactMe__title {
  color: var(--colour-red);
}

.contactMe__form {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(215, 97, 54);
  background: linear-gradient(
    0deg,
    rgba(215, 97, 54, 1) 51%,
    rgba(199, 58, 7, 1) 100%
  );
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
  margin: 60px auto;
}

.contactMe__label {
  font-size: 16px;
  font-weight: bold;
  color: var(--colour-beige);
}

.contactMe__input,
.contactMe__textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.contactMe__input:focus,
.contactMe__textarea:focus {
  border: 2px solid var(--colour-darkGray);
}

.contactMe__textarea {
  resize: none;
  height: 150px;
}

.contactMe__input--submit {
  background-color: var(--colour-beige);
  color: var(--colour-red);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactMe__input--submit:hover {
  background-color: var(--colour-red);
  color: var(--colour-beige);
  border: 2px solid var(--colour-beige);
}

.contactMe__input--submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Media Query */
@media (min-width: 1025px) {
  .contactMe__form {
    width: 600px;
  }
}

@media (max-width: 1024px) {
  .contactMe__form {
    gap: 15px;
    padding: 25px;
  }

  .contactMe__label {
    font-size: 14px;
  }

  .contactMe__input--submit {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .contactMe__form {
    width: 390px;
    gap: 10px;
    padding: 20px;
  }

  .contactMe__label {
    font-size: 13px;
  }

  .contactMe__input--submit {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .contactMe__form {
    width: 300px;
    gap: 7px;
    padding: 12px;
  }

  .contactMe__label {
    font-size: 12px;
  }
}
