@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global CSS style */
:root{
   /* Application Colour */
  --color-primary: var(--colour-white);
  --color-accent: var(--colour-yellow);
  --color-text: var(--colour-black);
  --color-text-variant: var(--color-gray);

   /* Colour */
  --colour-white: #ffffff;
  --colour-black: #000000;
  --colour-gray: #4d4d4d;
  --colour-yellow: #FCFF81;
}

body {
  background-color: var(--color-accent);
  overflow-x: hidden;
}

li{
  list-style: none;
}