.skillsAndProjectsContainer {
  position: relative;
  height: 22 0vh;
}

.custom-shape-divider-top-1730634535 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1730634535 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 87px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1730634535 .shape-fill {
  fill: var(--colour-red);
}

.skillsSection {
  position: sticky;
  top: 0;
  height: 120vh;
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsSection p {
  max-width: 70vw;
}

.skills__title {
  color: var(--colour-red);
}

.skills__gridContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  max-height: 55vh;
  max-width: 70vw;
  box-sizing: border-box; /* 컨테이너도 포함 */
}

.girdBox {
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1.3rem;
  overflow: hidden;
  overflow-wrap: break-word;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
}

.skills__language {
  grid-row: span 2;
  background-color: #c73a07;
}

.skills__library {
  background-color: rgba(215, 97, 54, 1);
}

.skills__tool {
  background-color: #dc8b6e;
}

.girdBox h3 {
  margin: 0;
  color: var(--colour-beige);
  font-size: 1.3rem;
}

.gridBox__item {
  margin: 1.5rem 3rem;
}

.gridBox__item h4 {
  margin: 0;
  margin-top: 2rem;
  color: var(--colour-beige);
  font-weight: 600;
  font-size: 1.1rem;
}

.gridBox__item__list--icon {
  display: flex;
  gap: 40px;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin-left: 1rem;
}

.gridBox__item__list--icon li {
  color: var(--colour-beige);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liIcon {
  font-size: 4rem;
  opacity: 0.6;
  margin-bottom: 5px;
}

.gridBox__item__list--colomn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 0;
  margin-left: 2rem;
}

.gridBox__item__list--colomn li {
  list-style-type: circle;
  margin: 0;
  color: var(--colour-beige);
  font-size: 1rem;
  font-weight: 500;
}

.gridBox__item__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 30px;
  margin-left: 2rem;
}

.gridBox__item__list li {
  list-style-type: circle;
  margin: 0;
  color: var(--colour-beige);
  font-size: 1rem;
  font-weight: 500;
}


/* Project Section */

.ProjectsSection {
  position: sticky;
  top: 0;
  height: 120vh;
  box-sizing: border-box;
  padding: 130px 0;
  /* background: rgb(199, 58, 7);
  background: linear-gradient(
    133deg,
    rgba(199, 58, 7, 1) 21%,
    rgba(215, 97, 54, 1) 100%
  ); */
  background-color: black;
  z-index: 5;
  box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectsSection::after {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: radial-gradient(
    circle,
    rgba(199, 58, 7, 0.8) 5%,  
    rgba(199, 58, 7, 0.2) 35%,   
    rgba(215, 97, 54, 0) 50%    
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__title {
  color: var(--colour-beige);
  z-index: 6;
}

.projects__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 1.5rem 3rem;
  padding: 0;
  z-index: 2;
}

.projects__filter li {
  background-color: var(--colour-beige);
  padding: 3px 15px;
  border-radius: 5px;
  color: var(--colour-red);
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 5px 5px rgba(71, 71, 71, 0.25);
}
.custom-shape-divider-bottom-1738544114 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1738544114 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1738544114 .shape-fill {
  fill: var(--colour-beige);
}
