.aboutMeSection{
  background-color: var(--colour-red);
  height: 100vh;
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutMe__title{
  color: var(--colour-beige);
}

.aboutMe__content {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  gap: 1rem;
}

.aboutMe__content__left,
.aboutMe__content__right {
  flex: 1; 
  padding: 5px;
  height: 90%;
}

.aboutMe__content__left{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe__content__name{
  position: relative;
  z-index: 0;
}

.aboutMe__content__name h1,
.aboutMe__content__name h2{
  color: var(--colour-red);
  margin: 0;
  position: relative; 
  z-index: 10;
}

.aboutMe__content__name h1{
  font-size: 3rem;
}

.aboutMe__content__name h2{
  font-size: 1.3rem;
}

.aboutMe__content__name::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  height: 200px;
  width: 500px;
  background-color: var(--colour-beige);
  z-index: 1;
}

.aboutMe__content__img{
  position: relative;
  width: 80%;
}

.aboutMe__content__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe__content__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.aboutMe__content__title h3{
  margin: 0;
  color: var(--colour-beige);
  font-size: 2rem;
}

.aboutMe__content__description{
  color: var(--colour-beige);
  text-align: center;
}