.aboutMeSection{
  background-color: var(--colour-red);
  box-sizing: border-box;
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.aboutMeSection::after{
  content: '';
  position: absolute;
  top: 53%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 0 200px 200px 0;
  height: 200px;
  width: 33vw;
  background-color: var(--colour-beige);
  z-index: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.aboutMe__title{
  color: var(--colour-beige);
}

.aboutMe__content {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  max-width: 1025px;
  gap: 1rem;
  margin: 130px auto;
  margin-bottom: 160px;
}

.aboutMe__content__left,
.aboutMe__content__right {
  flex: 1; 
  padding: 5px;
  height: 90%;
  overflow: hidden;
}

.aboutMe__content__left{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe__content__name{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe__content__name h1,
.aboutMe__content__name h2{
  color: var(--colour-red);
  margin: 0;
  position: relative; 
  z-index: 10;
}

.aboutMe__content__name h1{
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.aboutMe__content__name h2{
  font-size: 1.5rem;
}

.aboutMe__content__img{
  position: relative;
  height: 60%; 
  z-index: 2;
  opacity: 0;
  transform: translateX(-100%) scale(0.9);
  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.isSliding {
  transform: translateX(0) scale(1);
  opacity: 1;
}

.aboutMe__content__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe__content__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.aboutMe__content__title h3{
  margin: 0;
  color: var(--colour-beige);
  font-size: 1.8rem;
}

.aboutMe__content__description{
  color: var(--colour-beige);
  text-align: center;
}


/* Responsive Media Query */
@media (min-width: 1025px) {
  .aboutMeSection::after{
    height: 200px;
    width: 38vw;
  }

  .aboutMe__content__img{
    height: auto;
    width: 65%;
  }
  
  .aboutMe__content__right{
    width: 50%;
  }

  .aboutMe__content__title h3{
    font-size: 1.9rem;
  }
}

@media (max-width: 1024px) {
  .aboutMeSection::after{
    top: 52%;
    height: 200px;
    width: 36vw;
  }

  .aboutMe__content {
    max-width: 720px;
    gap: .5rem;
    margin: 140px auto;
    margin-bottom: 210px;
  }

  .aboutMe__content__name h1{
    font-size: 3.3rem;
    font-weight: 800;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  }
  
  .aboutMe__content__name h2{
    font-size: 1.2rem;
  }

  .aboutMe__content__img{
    height: auto;
    width: 68%;
  }

  .aboutMe__content__title{
    margin-bottom: 1rem;
  }
  
  .aboutMe__content__title h3{
    font-size: 1.4rem;
    font-weight: 800;
  }
  
  .aboutMe__content__description{
    margin: 0;
    font-size: .9rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .aboutMe__content {
    flex-direction: column;
    max-width: 465px;
    margin: 40px auto;
  }

  .aboutMeSection::after{
    top: 37%;
    height: 140px;
    width: 55vw;
  }

  .aboutMe__content__name h1{
    font-size: 3rem;
  }

  .aboutMe__content__img{
    height: auto;
    width: 50%; 
  }

  .aboutMe__content__title{
    margin-bottom: 1.2rem;
  }

  .aboutMe__content__right{
    margin: 40px auto;
  }
}

@media (max-width: 480px) {
  .aboutMe__title{
    margin-bottom: 2rem;
  }

  .aboutMeSection::after{
    top: 39%;
    height: 120px;
  }

  .aboutMe__content {
    max-width: 330px;
  }

  .aboutMe__content__name h1{
    font-size: 2.7rem;
    margin-left: 10px;
  }

  .aboutMe__content__name h2 {
    margin-left: 10px;
  }

  .aboutMe__content__img{
    height: auto;
    width: 60%; 
  }

  .aboutMe__content__title{
    margin-top: 1rem;
  }

  .aboutMe__content__description{
    font-size: .8rem;
  }

  .aboutMe__content__right{
    margin-bottom: auto;
  }
}